<!--  Replace menu links here -->

<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Notícias">Notícias</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Esportes">Esportes</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Entretenimento"
		>Entretenimento</a
	>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Estilo de Vida"
		>Estilo de Vida</a
	>
</li>

<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Tecnologia"
		>Tecnologia</a
	>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Bem Estar"
		>Bem Estar</a
	>
</li>

<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/colunas.html#Economia">Economia</a>
</li>

<!-- <li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li> -->
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<!--<li class="nav-item">
	<a
		target="_blank"
		class="nav-link"
		href="https://www.wowthemes.net/themes/mundana-wordpress/"
		>WP</a
	>
</li>
<li class="nav-item">
	<a
		target="_blank"
		class="nav-link"
		href="https://www.wowthemes.net/themes/mundana-ghost/"
		>Ghost</a
	>
</li>
 <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->
