<!--  Replace menu links here -->

<li class="nav-item">
	<a
		style="font-weight: 700; color: red"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#política"
		>Política</a
	>
</li>
<li class="nav-item">
	<a
		style="font-weight: 700; color: green"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#economia"
		>Economia</a
	>
</li>
<li class="nav-item">
	<a
		style="font-weight: 700; color: purple"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#esportes"
		>Esportes</a
	>
</li>
<li class="nav-item">
	<a
		style="font-weight: 700; color: #daa520"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#entretenimento"
		>Entretenimento</a
	>
</li>
<li class="nav-item">
	<a
		style="font-weight: 700; color: blue"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#vida"
		>Vida</a
	>
</li>

<li class="nav-item">
	<a
		style="font-weight: 700; color: orange"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#saúde"
		>Saúde</a
	>
</li>
<li class="nav-item">
	<a
		style="font-weight: 700; color: grey"
		class="nav-link"
		href="{{site.baseurl}}/colunas.html#tecnologia"
		>Tecnologia</a
	>
</li>

<!-- <li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li> 
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
<!--<li class="nav-item">
	<a
		target="_blank"
		class="nav-link"
		href="https://www.wowthemes.net/themes/mundana-wordpress/"
		>WP</a
	>
</li>
<li class="nav-item">
	<a
		target="_blank"
		class="nav-link"
		href="https://www.wowthemes.net/themes/mundana-ghost/"
		>Ghost</a
	>
</li>
 <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->
